---
layout: default
title: Blog
---

<h1 class="text-center"><strong>Blog</strong></h1>
<p id="blog-subtitle"
   class="text-center text-muted"
   data-en="{{ site.subtitle_blog.en | escape }}"
   data-it="{{ site.subtitle_blog.it | escape }}">
</p>


{% assign posts_by_name = site.posts | group_by: "name" %}

<div class="blog-container">
  {% assign posts_by_name = site.posts | group_by: "name" %}
  {% for group in posts_by_name %}
    {% assign posts = group.items %}
    {% for post in posts %}
      {% include blog-post-card.html post=post %}
    {% endfor %}
  {% endfor %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const lang = localStorage.getItem("language") || "en";
    const subtitle = document.getElementById("blog-subtitle");
    if (subtitle) {
      const fallback = subtitle.dataset.en;
      const localizedText = subtitle.dataset[lang] || fallback;
      subtitle.textContent = localizedText;
    }
  });
</script>
