<div id="giscus_container"></div>

<script>
  function loadGiscus(theme) {
    const giscus = document.createElement('script');
    giscus.src = 'https://giscus.app/client.js';
    giscus.setAttribute('data-repo', 'albertoCotumaccio/albertoCotumaccio');
    giscus.setAttribute('data-category', 'General');
    giscus.setAttribute('data-mapping', 'specific');
    giscus.setAttribute('data-term', '{{ page.giscus_id }}');
    giscus.setAttribute('data-reactions-enabled', '1');
    giscus.setAttribute('data-emit-metadata', '0');
    giscus.setAttribute('data-input-position', 'bottom');
    giscus.setAttribute('data-theme', theme);
    giscus.setAttribute('data-lang', '{{ page.lang }}');
    giscus.setAttribute('crossorigin', 'anonymous');
    giscus.async = true;
    document.getElementById('giscus_container').appendChild(giscus);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const currentTheme = document.body.getAttribute("data-theme") || "light";
    loadGiscus(currentTheme);
  });
</script>
